<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="jumbotron">

    <p><a href ="/GET/AUS"> GET AUS Players </a></p>
    <p><a href ="/GET/ENG"> GET ENG Players </a></p>
    <p><a href ="/GET/IND"> GET IND Players </a></p>
    <p><a href ="/GET/PAK"> GET PAK Players </a></p>
    <p><a href ="/GET/SL"> GET SL Players </a></p>
    <p><a href ="/GET/WI"> GET WI Players </a></p>
    <p><a href ="/GET/NZ"> GET NZ Players </a></p>
    <p><a href ="/GET/SA"> GET SA Players </a></p>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
